# App Configuration
DEBUG=True
LOG_LEVEL=INFO

# API Keys
GOOGLE_API_KEY="your_google_api_key_here"
OWL_GOOGLE_API_KEY="your_owl_google_api_key_here"
HF_TOKEN="your_huggingface_token_here"

# Database Settings
POSTGRESQL_PASS="your_db_password_here"
OWL_DB_PASSWORD="your_owl_db_password_here"
SOCRATES_DB_URL=postgresql://user:pass@host:port/socrates_db
