# App Configuration
DEBUG=False
LOG_LEVEL=INFO
TOKENIZERS_PARALLELISM=false
ENABLE_EXPERIMENTAL=True

# Security
EXPERIMENTAL_ACCESS_KEY="generate-a-long-secure-key-here"
# CORS_ORIGINS should be a JSON-formatted list of allowed domains
CORS_ORIGINS=["http://localhost:5173", "http://127.0.0.1:5173", "https://data4good.center", "https://d4gumich.github.io"]

# API Keys
GOOGLE_API_KEY="your_google_api_key_here"
OWL_GOOGLE_API_KEY="your_owl_google_api_key_here"
HF_TOKEN="your_huggingface_token_here"

# Database Settings
POSTGRESQL_PASS="your_db_password_here"
OWL_DB_HOST="D4GUMSI-4679.postgres.pythonanywhere-services.com"
OWL_DB_PORT=14679
OWL_DB_USER="super"
OWL_DB_NAME="postgres"
OWL_DB_PASSWORD="your_owl_db_password_here"
SOCRATES_DB_URL=postgresql://user:pass@host:port/socrates_db
